:root{
    --primary: #689df2;
    --base: 8px;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

h1 {
    margin: 0;
    padding: 40px;
    text-align: center;
    color: #333;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 1em;
}

li {
}

.primary{
    background-color: var(--primary);
}

.secondary{
    background-color: #f26868;
}


.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

.circle{
    border-radius: 50%;
    border-width: 0;
}


.small{
    font-size: 0.5em;
    width: 15px;
    height: 15px;
}

.large{
    font-size: 2em;
    width: 80px;
    height: 80px;
}

.reset-button{
    background: var(--primary);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: var(--base);
}

.reset-button:hover{
    border: red;
}

.link {
  background-image: linear-gradient(to bottom, black, black), linear-gradient(to right, black, black), linear-gradient(to bottom, black, black);
  background-size: 2px, 50% 2px, 50% 2px;
  background-position: center, top left, bottom right;
  background-repeat: no-repeat;
}

.card{
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: var(--base);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    width: 500px;
    height: 200px;
    box-sizing: border-box;
    z-index: 1;
}

.card:hover .secondary-hover{
    background-color: #f26868;
}

.spaced-menu{
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 10px 12px;
    cursor: grab;
}

textarea {
    flex: 1;
    padding: 1em;
    border-radius: var(--base);
    border: none;
    resize: none;
    box-sizing: border-box;
}

.connect-area{
    border-radius: var(--base);
    background: none;
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    z-index: -1;
    cursor: crosshair;
}
.connect-area:hover{
    box-shadow: 0 0 var(--base) var(--primary);
}


.hidden-action{
    border-radius: var(--base);
    border: none;
    opacity: 0;
    height: 1em;
    width: 100%;
}

.hidden-action:hover{
    opacity: 0.5;
    height: 2em;
}

form{
    display: flex;
    align-items: end;
    margin: 0;
    gap: 0.5em;
}

.timestamp{
    font-size: 0.8em;
    color: gray;
}



input[type="submit"] {
    border: none;
    color: white;
    cursor: pointer;
}






#cursor-anchor{
    position: fixed;
    width: 0;
    height: 0;
    pointer-events: none;
}

#canvas{
    width: 100vw;
    height: 100vh;
}

.connect-cursor{
    visibility: true;
    width: 10px;
    height: 10px;
    background: var(--primary);
}